body{
	font-family: "Helvetica Neue" !important;
}

.mainDiv{
	height: 500px;
    overflow: auto;
}

h3{
	font-weight: 300;
	text-align: center;
	margin-bottom: 35px;
	padding-top: 3rem;
}

.price{
	float: right;
}

.padding0{
	padding: 0px !important;
}

.border{
	border: 1px solid;
	margin: 2px;
}

input, textarea{
	width: 100% !important;
}

.des{
	font-size: 14px;
    font-weight: 300;
}

h5{
	font-weight: 300;
	word-wrap: break-word;
	white-space: normal;	
}

textarea {
	resize: none;
}

.image{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.img{
	width: 100% !important;
	height: 115px !important;
}

.item{
	border: 1px solid;
	padding: 5px 3px 15px 4px;
	margin: 2px;
}

.cancelItem{
  display: flex;
  justify-content: center;
  align-items: center;
}

hr{
	width: 100%;
}

.ItemBorder{
	border: 1px solid #ada7a7;
	padding-top: 5px;
    padding-left: 15px;
}

button {
	color: rgb(14, 12, 12);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.margin5{
	margin-bottom: 5px;
}

.removeProd{
	display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
	padding-top: 10px;
	width: 99% !important;
}

form{
	padding: 5px;
}

.rowPadding{
	padding-left: 16px;
    padding-right: 16px;
}
